{% extends "layout.html" %}
{% block choose %}

Sensor: {{polID}}
<p>
Rule-ID: {{ruleID}}
<hr>
{% endblock %}
{% block details %}
excluded Utilizer:
<div id="exclUtiTree" class="tree"></div>
<div>
    <input class="form-control input-lg" type="text" name="newExUti" id="newExUti" placeholder="new utilizer (comma separated)"></input>
</div>
excluded Purpose:
<div id="exclPurTree" class="tree"></div>
<div>
    <input class="form-control input-lg" type="text" name="newExPurp" id="newExPurp" placeholder="new purposes (comma separated)" ></input>
</div>
<hr>
permitted Utilizer:
<div id="permUtiTree" class="tree"></div>
<div>
    <input class="form-control input-lg" type="text" name="newPermUti" id="newPermUti" placeholder="new utilizer (comma separated)"></input>
</div>
permitted Purpose:
<div id="permPurTree" class="tree"></div>
<div>
    <input class="form-control input-lg" type="text" name="newPermPur" id="newPermPur" placeholder="new purposes (comma separated)"></input>
</div>
Transformation:
<div id="transTree" class="tree"></div>
<hr>
<div id="send2server">
  <form action="/policies/create", method="POST" onsubmit="arr2json()">
    <input type="hidden" name="newRule" id="newRule" value=""></input>
    <button type="submit" class="btn btn-success input-lg" style="margin-bottom:10px" onclick="saveRule()" name="newRuleButton" value={{polID}} >Create Rule</button>
  </form>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script type="text/javascript">
  var permPurposeTree = {{ purTree|tojson }};
  var exclPurposeTree = {{ purTree|tojson }};
  var permUtilizerTree = {{ utiTree|tojson }};
  var exclUtilizerTree = {{ utiTree|tojson }};
  var tranTree = {{ traTree|tojson }};
  var permPur = [];
  var exclPur = [];
  var permUti = [];
  var exclUti = [];
  var trans = [];

  var newRule = {
    'purpose': {
      'permitted': permPur,
      'excluded': exclPur
    },
    'utilizer': {
      'permitted': permUti,
      'excluded': exclUti
    },
    'transformation': trans
  }

  function saveRule(){
    alert(JSON.stringify(newRule));
  };

  function arr2json(){
    permPurArr: JSON.stringify(permPur)
  };

	$(function() {
    $('#permPurTree').treeview({
      data: permPurposeTree,
      multiSelect: true,
      collapseIcon: 'glyphicon glyphicon-chevron-down',
      expandIcon: 'glyphicon glyphicon-chevron-right',
      showTip: true,
      onhoverColor: '#EAFAF1',
      selectedBackColor: '#82E0AA',
      levels: 1,
      onNodeSelected: function(event, node) {
          if (permPur.indexOf(node.text) === -1) {
            permPur.push(node.text);
            console.log(permPur);
          };
        // TODO: if (node is Parent) {select all children};
      },
      onNodeUnselected: function(event, node) {
          if (permPur.indexOf(node.text) > -1) {
            permPur.splice(permPur.indexOf(node.text),1);
            console.log(permPur);
          };
      }
    });
	});

  $(function() {
    $('#exclPurTree').treeview({
      data: exclPurposeTree,
      multiSelect: true,
      collapseIcon: 'glyphicon glyphicon-chevron-down',
      expandIcon: 'glyphicon glyphicon-chevron-right',
      showTip: true,
      onhoverColor: '#FDEDEC',
      selectedBackColor: '#F1948A',
      levels: 1,
      onNodeSelected: function(event, node) {
          if (exclPur.indexOf(node.text) === -1) {
            exclPur.push(node.text);
            console.log(exclPur);
          };
        // TODO: if (node is Parent) {select all children};
      },
      onNodeUnselected: function(event, node) {
          if (exclPur.indexOf(node.text) > -1) {
            exclPur.splice(exclPur.indexOf(node.text),1);
            console.log(exclPur);
          };
      }
    });
	});
  $(function() {
    $('#permUtiTree').treeview({
      data: permUtilizerTree,
      multiSelect: true,
      collapseIcon: 'glyphicon glyphicon-chevron-down',
      expandIcon: 'glyphicon glyphicon-chevron-right',
      showTip: true,
      onhoverColor: '#EAFAF1',
      selectedBackColor: '#82E0AA',
      levels: 1,
      onNodeSelected: function(event, node) {
          if (permUti.indexOf(node.text) === -1) {
            permUti.push(node.text);
            console.log(permUti);
          };
        // TODO: if (node is Parent) {select all children};
      },
      onNodeUnselected: function(event, node) {
          if (permUti.indexOf(node.text) > -1) {
            permUti.splice(permUti.indexOf(node.text),1);
            console.log(permUti);
          };
      }
    });
	});
  $(function() {
    $('#exclUtiTree').treeview({
      data: exclUtilizerTree,
      multiSelect: true,
      collapseIcon: 'glyphicon glyphicon-chevron-down',
      expandIcon: 'glyphicon glyphicon-chevron-right',
      showTip: true,
      onhoverColor: '#FDEDEC',
      selectedBackColor: '#F1948A',
      levels: 1,
      onNodeSelected: function(event, node) {
          if (exclUti.indexOf(node.text) === -1) {
            exclUti.push(node.text);
            console.log(exclUti);
          };
        // TODO: if (node is Parent) {select all children};
      },
      onNodeUnselected: function(event, node) {
          if (exclUti.indexOf(node.text) > -1) {
            exclUti.splice(exclUti.indexOf(node.text),1);
            console.log(exclUti);
          };
      }
    });
	});
  $(function() {
    $('#transTree').treeview({
      data: tranTree,
      multiSelect: false,
      collapseIcon: 'glyphicon glyphicon-chevron-down',
      expandIcon: 'glyphicon glyphicon-chevron-right',
      selectedBackColor: '#CCD1D1',
      levels: 1,
      onNodeSelected: function(event, node) {
          if (trans.indexOf(node.text) === -1) {
            trans.push(node.text);
            console.log(trans);
          };
        // TODO: if (node is Parent) {select all children};
      },
      onNodeUnselected: function(event, node) {
          if (trans.indexOf(node.text) > -1) {
            trans.splice(trans.indexOf(node.text),1);
            console.log(trans);
          };
      }
    });
	});
</script>
{% endblock %}
